* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  border-color: #939393;
  outline: none;
}

input,
textarea,
select {
  padding: 4px;
  border: 1px solid #4a4a4a;

  background: #4a4848;
  color: #939393;
}

h2 {
  margin-bottom: 24px;
}

main {
  max-width: 680px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  color: #939393;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reaction-button {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
}

.reaction-buttons {
  display: flex;
  gap: 8px;
}

.save-btn {
  padding: 12px 2px;
  border: 0;
  background-color: #296d88;
  color: white;
  transition: background ease 0.3s;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #1f7292;
}

.save-btn:disabled {
  background-color: #384347;
}
